@use 'reset';
@use 'mixins';

/* Light Color Scheme (Default + Override) */
:root,
:root[data-color-scheme='light'] {
  --red-hsl: 12 100% 57%;
  --red: hsl(var(--red-hsl));
  --red-dark-hsl: 12, 100%, calc(57% - 5%);
  --red-dark: hsl(var(--red-dark-hsl));
  --blue-hsl: 204, 56%, 44%;
  --blue: hsl(var(--blue-hsl));
  --yellow-hsl: 49, 100%, 33%;
  --yellow: hsl(var(--yellow-hsl));
  --black-hsl: 120, 100%, 8%;
  --black: hsl(var(--black-hsl));
  --white-hsl: 36, 100%, 96%;
  --white: hsl(var(--white-hsl));

  --button--secondary__color: var(--black);
  --button--secondary__border-color: var(--black);
  --color-scheme-toggle__dark-color: var(--black);
  --color-scheme-toggle__light-color: var(--white);
  --color-scheme-toggle__clip-path: circle(27px at 27px);
}

/* Dark Color Scheme (System Preference) */
@media (prefers-color-scheme: dark) {
  :root {
    --button--secondary__color: var(--white);
    --button--secondary__border-color: var(--white);
    --color-scheme-toggle__dark-color: var(--white);
    --color-scheme-toggle__light-color: var(--black);
    --color-scheme-toggle__clip-path: circle(27px at 74px 27px);
  }
}

/* Dark Color Scheme (Override) */
:root[data-color-scheme='dark'] {
  --button--secondary__color: var(--white);
  --button--secondary__border-color: var(--white);
  --color-scheme-toggle__dark-color: var(--white);
  --color-scheme-toggle__light-color: var(--black);
  --color-scheme-toggle__clip-path: circle(27px at 74px 27px);
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/archivo-variable-font-wdth-wght.woff2')
    format('woff2-variations');
  font-weight: 400 800;
  font-stretch: 105% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/archivo-italic-variable-font-wdth-wght.woff2')
    format('woff2-variations');
  font-weight: 400 800;
  font-stretch: 105% 125%;
  font-style: italic;
  font-display: swap;
}

body {
  background-color: var(--body__background-color);
  font-family: 'Archivo', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  margin: 0 auto;
  max-width: 1920px;
  padding: 1rem 2rem;
  width: 100%;

  @media (min-width: 390px) {
    padding: 2.5rem;
  }

  @media (min-width: 1000px) {
    display: grid;
    gap: 2.5rem;
    padding: 2.5rem;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }

  @media (min-width: 1400px) {
    gap: 5rem;
    padding: 5rem;
  }
}

.intro {
  margin-bottom: 2.5rem;
  max-width: 80ch;

  p {
    font-size: 1.25rem;

    @media (min-width: 390px) {
      margin-bottom: 2.5rem;
    }
  }

  @media (min-width: 390px) {
    margin-bottom: 2.5rem;
  }

  @media (min-width: 1000px) {
    margin: 0;
    grid-column: 1 / 2;
  }

  .links {
    max-width: 80ch;

    @media (min-width: 600px) {
      display: flex;
      flex-direction: row;
      gap: 1.25rem;
    }

    @media (min-width: 1000px) {
      display: block;
    }

    @media (min-width: 1200px) {
      display: flex;
    }
  }
}

.content {
  max-width: 80ch;
}

h1 {
  color: var(--heading__color);
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1.25rem;
  font-variation-settings: 'wdth' 115;

  @media (min-width: 450px) {
    font-size: 2.5rem;
    font-variation-settings: 'wdth' 125;
    margin-bottom: 2.5rem;
  }
}

.button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 99rem;
  display: flex;
  font-size: 1.25rem;
  font-variation-settings: 'wdth' 105;
  font-weight: 800;
  justify-content: center;
  height: 60px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1); // ease-in.
  transition-duration: 300ms;

  @media (min-width: 414px) {
    font-variation-settings: 'wdth' 125;
  }

  @media (min-width: 600px) {
    max-width: calc(50% - (1.25rem / 2));
  }

  @media (min-width: 1000px) {
    max-width: none;
  }

  @media (min-width: 1200px) {
    max-width: calc(50% - (1.25rem / 2));
  }

  &:focus {
    outline: solid 0.25rem var(--link--focus__outline-color);
    outline-offset: 0.5rem;
  }

  &:hover {
    transform: scale(1.02);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1); // ease-out.
    transition-duration: 150ms;
  }

  &:active {
    transform: scale(0.98);
  }

  &.button--primary {
    background-color: var(--button--primary__background-color);
    color: var(--button--primary__color);
  }

  &.button--secondary {
    border: 3px solid var(--button--secondary__border-color);
    color: var(--button--secondary__color);
  }

  + .button {
    margin-top: 1.25rem;

    @media (min-width: 600px) {
      margin-top: 0;
    }

    @media (min-width: 1000px) {
      margin-top: 1.25rem;
    }

    @media (min-width: 1200px) {
      margin-top: 0;
    }
  }
}
