---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';

const description =
  'I’m a creative web developer with over ten years of experience in marketing, advertising, and product engineering. With a passion for design, performance, accessibility and usability, I draw from a broad range of technical, creative, and strategic skills to craft effective, user-focused solutions.';
---

<Layout title="About Me - Tyler Combs" description={description}>
  <div class="intro">
    <h1>A bit about me.</h1>
    <p>
      {description}
    </p>
    <div class="links">
      <Button href="/contact" class="button--primary">Get in Touch</Button>
    </div>
  </div>
  <div class="content">
    <section class="experience">
      <h2>Experience</h2>
      <div>
        <h3>
          <span class="title">Senior Web Developer / Software Engineer II</span>
          <span class="employer">Edge Delta</span>
          <span class="date">2022&ndash;2024</span>
        </h3>
        <ul>
          <li>
            Led design, development, and maintenance of marketing site. Oversaw
            implementing new features and content, SEO, performance, security,
            accessibility, and usability.
          </li>
          <li>
            Launched all-new marketing site to enable a CMS, improved
            performance and accessibility, and brand with Statamic/Laravel,
            Tailwind, and Alpine.js. Previously supported legacy Angular site.
          </li>
          <li>
            Developed React product application with focus on user onboarding
            experience and design system implementation with Figma, Mantine,
            Storybook, and Style Dictionary.
          </li>
          <li>Maintained marketing design system in Figma.</li>
        </ul>
      </div>

      <div>
        <h3>
          <span class="title">Senior Web Developer</span>
          <span class="employer">West Advertising</span>
          <span class="date">2020&ndash;2022</span>
        </h3>
        <ul>
          <li>
            As sole developer, built and maintained auto dealership sites in
            WordPress with up to 100,000 pageviews per month per site, featuring
            inventory feeds, vehicle data and media APIs, and ADF/XML CRM
            integrations.
          </li>
          <li>
            Built React app for email marketing with personal urls, featuring
            auth, CSV handling, CRM integration, and an admin dashboard with
            TypeScript, Next.js, Prisma, and PostgreSQL.
          </li>
          <li>
            Built WordPress plugin for automated lead form submission email
            reports.
          </li>
          <li>Hired and mentored a junior developer.</li>
          <li>
            Advocated for web accessibility and maintained WCAG AA compliance
            across projects.
          </li>
        </ul>
      </div>

      <div>
        <h3>
          <span class="title">Web Developer</span>
          <span class="employer">West Advertising</span>
          <span class="date">2017&ndash;2020</span>
        </h3>
        <ul>
          <li>
            Created price unlocking features for auto dealership inventory with
            dynamic html emails, cookie auth, scheduled reminders, and CRM
            integration.
          </li>
          <li>
            Internationalized WordPress sites for English and Spanish with
            language switching, subdirectory routing, gettext, and Poedit.
          </li>
          <li>
            Built WordPress plugins for scheduled CSV import/export to post
            content.
          </li>
        </ul>
      </div>

      <div>
        <h3>
          <span class="title">Graphic & Web Designer</span>
          <span class="employer">West Advertising</span>
          <span class="date">2014&ndash;2017</span>
        </h3>
        <ul>
          <li>
            Built and tested weekly cross-platform HTML emails for multiple
            clients.
          </li>
          <li>
            Designed print, display, and outdoor advertisements, promotional
            posters, and greeting cards.
          </li>
          <li>
            Updated website content and graphics, including landing pages,
            blogs, videos, offers, and specials.
          </li>
        </ul>
      </div>

      <div>
        <h3>
          <span class="title">Art Director</span>
          <span class="employer">Nimblefish Technologies</span>
          <span class="date">2013&ndash;2014</span>
        </h3>
        <ul>
          <li>
            Creative strategy, website and email design, branding, and video
            editing on automated marketing campaigns for clients including
            Disney Vacation Club and Florida Blue.
          </li>
          <li>
            Jump-started adoption of mobile and responsive web development at
            Nimblefish.
          </li>
        </ul>
      </div>
    </section>

    <section class="skills">
      <h2>Skills</h2>
      <div>
        <h3>Proficient</h3>
        <ul>
          <li>HTML</li>
          <li>CSS/Sass</li>
          <li>JavaScript</li>
          <li>TypeScript</li>
          <li>PHP</li>
          <li>git</li>
          <li>React</li>
          <li>Statamic</li>
          <li>Astro</li>
          <li>WordPress</li>
          <li>Tailwind</li>
          <li>Mantine</li>
          <li>Alpine.js</li>
          <li>Bootstrap</li>
          <li>SVG</li>
          <li>WCAG</li>
          <li>Design Systems</li>
          <li>Responsive Web Design</li>
          <li>Figma</li>
          <li>Adobe Creative Cloud</li>
        </ul>
      </div>
      <div>
        <h3>Experienced</h3>
        <ul>
          <li>Next.js</li>
          <li>Prisma</li>
          <li>Angular</li>
          <li>Storybook</li>
          <li>Cypress</li>
          <li>MySQL</li>
          <li>PostgreSQL</li>
          <li>SEO</li>
          <li>Internationalization</li>
        </ul>
      </div>
    </section>

    <section class="education">
      <h2>Education</h2>
      <h3>
        <span class="title">Bachelor of Arts, Fine Art</span>
        <span class="employer">The Evergreen State College</span>
        <span class="date">2004</span>
      </h3>
    </section>
  </div>
</Layout>

<style lang="scss">
  @use '../styles/_variables.scss' as *;

  :root {
    --color-accent-50: var(--blue-50);
    --color-accent-100: var(--blue-100);
    --color-accent-200: var(--blue-200);
    --color-accent-300: var(--blue-300);
    --color-accent-400: var(--blue-400);
    --color-accent-500: var(--blue-500);
    --color-accent-600: var(--blue-600);
    --color-accent-700: var(--blue-700);
    --color-accent-800: var(--blue-800);
    --color-accent-900: var(--blue-900);
  }

  p {
    margin-block-end: var(--space-md);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);

    section {
      display: flex;
      flex-direction: column;
      gap: var(--space-lg);
    }

    h2 {
      color: var(--color-heading);
      font-size: var(--font-size-xl);
      font-weight: 800;
      font-variation-settings: var(--width-expanded);
    }

    h3 {
      display: flex;
      flex-wrap: wrap;
      font-size: var(--font-size-lg);
      font-variation-settings: var(--width-normal);
      line-height: var(--line-height-lg);
      margin-block-end: var(--space-sm);

      @media (min-width: 768px) {
        column-gap: 0.5em;
      }

      .title {
        width: 100%;

        @media (min-width: 768px) {
          width: auto;
        }
      }

      .employer,
      .date {
        font-weight: 400;
      }

      .employer {
        margin-right: auto;
      }
    }

    .experience ul {
      display: flex;
      flex-direction: column;
      font-size: var(--font-size-md);
      gap: var(--space-3xs);
      line-height: var(--line-height-md);
      margin: 0;
      padding-inline-start: 0;
    }

    .skills ul {
      columns: 1;
      font-size: var(--font-size-md);
      line-height: var(--line-height-md);
      list-style-type: none;
      margin: 0;
      padding: 0;

      @media screen and (min-width: 500px) {
        columns: 2;
      }

      @media screen and (min-width: 700px) {
        columns: 3;
      }
    }
  }
</style>
