---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About Me - Tyler Combs">
  <style lang="scss">
    :root {
      --button--primary__background-color: var(--red);
      --button--primary__color: var(--white);
      --heading__color: var(--blue);
      --body__background-color: var(--white);
      --site-header__background-color: var(--blue);
      --menu-toggle__background-color: var(--blue);
      --menu-toggle--show__background-color: var(--black);
      --nav-link__color: var(--white);
      --color-scheme-toggle__border-color: transparent;
      --color-scheme-toggle__active__background-color: var(--black);
      --link--focus__outline-color: var(--red);

      @media (min-width: 1000px) {
        --nav-link__color: var(--black);
        --color-scheme-toggle__border-color: var(--black);
        --color-scheme-toggle__active__background-color: var(--blue);
      }
    }

    @media (prefers-color-scheme: dark) {
      :root:not([data-user-color-scheme]) {
        /* Dark Mode */
        --button--primary__background-color: var(--white);
        --button--primary__color: var(--black);
        --heading__color: var(--white);
        --body__background-color: var(--blue);
        --site-header__background-color: var(--white);
        --menu-toggle__background-color: var(--black);
        --menu-toggle--show__background-color: var(--blue);
        --nav-link__color: var(--blue);
        --color-scheme-toggle__border-color: var(--black);
        --color-scheme-toggle__active__background-color: var(--blue);

        @media (min-width: 1000px) {
          --nav-link__color: var(--white);
          --color-scheme-toggle__border-color: transparent;
          --color-scheme-toggle__active__background-color: var(--black);
        }
      }
    }

    :root[data-user-color-scheme='dark'] {
      /* Dark Mode */
      --button--primary__background-color: var(--white);
      --button--primary__color: var(--black);
      --heading__color: var(--white);
      --body__background-color: var(--blue);
      --site-header__background-color: var(--white);
      --menu-toggle__background-color: var(--black);
      --menu-toggle--show__background-color: var(--blue);
      --nav-link__color: var(--blue);
      --color-scheme-toggle__border-color: var(--black);
      --color-scheme-toggle__active__background-color: var(--blue);

      @media (min-width: 1000px) {
        --nav-link__color: var(--white);
        --color-scheme-toggle__border-color: transparent;
        --color-scheme-toggle__active__background-color: var(--black);
      }
    }

    .intro {
      @media (min-width: 1000px) {
        grid-column: 1 / 2;
      }
    }

    p {
      margin-bottom: 1.875rem;

      @media (min-width: 390px) {
        margin-bottom: 2.5rem;
      }
    }

    .content {
      @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: minmax(0, 1fr), minmax(0, 1fr);
      }

      h2 {
        color: var(--heading__color);
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        font-variation-settings: 'wdth' 105;

        @media (min-width: 390px) {
          font-size: 2rem;
          font-variation-settings: 'wdth' 125;
        }
      }

      section {
        margin-bottom: 2.5rem;
      }

      .skills {
        ul {
          list-style-type: none;
          margin-top: 0;
          padding-left: 0;

          li {
            font-size: 1.25rem;
            padding-left: 0.5em;
            text-indent: -0.5em;
          }
        }
      }

      .employment,
      .education {
        h3 {
          display: flex;
          flex-direction: column;
          font-size: 1.25rem;
          font-variation-settings: 'wdth' 105;
          font-weight: 400;
          margin-block-end: 1.5rem;

          @media (min-width: 768px) {
            flex-direction: row;
            font-size: 1.5rem;
            column-gap: 0.5em;
          }

          @media (min-width: 1000px) {
            flex-wrap: wrap;
          }

          span {
            display: block;

            @media (min-width: 768px) {
              &:last-of-type {
                margin-inline-start: auto;
              }
            }

            @media (min-width: 1000px) {
              &:first-of-type {
                width: 100%;
              }
            }

            @media (min-width: 1550px) {
              &:first-of-type {
                width: auto;
              }
            }
          }
        }

        ul {
          font-size: 1rem;
          line-height: 1.5;
          margin-bottom: 1.5rem;
          padding-left: 0;
        }
      }
    }
  </style>

  <div class="intro">
    <h1>About Me</h1>
    <p>
      From graphic designer to full-stack developer, I’ve been building the web
      for more than ten years. I love creating fast, accessible, and delightful
      user experiences.
    </p>
    <div class="links">
      <a class="button button--primary" href="/contact">Get in Touch</a>
    </div>
  </div>
  <div class="content">
    <section class="skills">
      <h2>Skills</h2>
      <ul>
        <li>
          <strong>JavaScript</strong>, React, Next.js, Alpine.js, TypeScript,
          Astro, Prisma, Angular, jQuery, Node.js, Express, Firebase
        </li>
        <li>
          <strong>PHP</strong>, Statamic, Laravel, WordPress, MySQL, PostgreSQL
        </li>
        <li>
          <strong>CSS</strong>, Sass, Tailwind, Bootstrap, CSS Modules, WCAG 2.0
        </li>
        <li><strong>Design</strong>, Figma, Adobe Creative Cloud</li>
      </ul>
    </section>

    <section class="employment">
      <h2>Employment</h2>
      <h3>
        <span><strong>Senior Web Developer</strong></span>
        <span>Edge Delta</span>
        <span>2022&ndash;Present</span>
      </h3>
      <h3>
        <span><strong>Senior Web Developer</strong></span>
        <span>West Advertising</span>
        <span>2020&ndash;2022</span>
      </h3>
      <ul>
        <li>
          Built React web app with Next.js, TypeScript, Prisma, and PostgreSQL,
          featuring mailing list CSV upload/parse/export, personal URL routing
          and authentication, CRM integration, and admin dashboard.
        </li>
        <li>
          Built and maintained auto dealership websites averaging up to 100,000
          pageviews per month per site, featuring inventory feeds, vehicle data
          and media APIs, and ADF/XML CRM integrations.
        </li>
        <li>
          Administered DigitalOcean and ServerPilot VPSs, DNS, SSH/SFTP, cron,
          phpMyAdmin, and .htaccess.
        </li>
        <li>
          Executed high fidelity frontend to Mazda Digital Certified guidelines
          in Sass and vanilla JavaScript.
        </li>
        <li>Hired and mentored a junior developer.</li>
        <li>
          Advocated for web accessibility and maintained WCAG compliance across
          projects.
        </li>
        <li>
          Defined Google Analytics goals and implemented analytics event
          triggers across client sites.
        </li>
      </ul>

      <h3>
        <span><strong>Web Developer</strong></span>
        <span>West Advertising</span>
        <span>2017&ndash;2020</span>
      </h3>
      <ul>
        <li>
          Created price unlocking features for auto dealership inventory with
          email link and cookie authentication, dynamic html emails, scheduled
          reminders, and CRM integration.
        </li>
        <li>
          Internationalized WordPress sites for English and Spanish with
          cookie-based language switcher, subdirectory routing, gettext
          functions, and Poedit.
        </li>
        <li>
          Built WordPress plugins for scheduled import/export of CSV records
          to/from posts with attached media.
        </li>
        <li>Established version control with Git for agency web projects.</li>
      </ul>

      <h3>
        <span><strong>Graphic & Web Designer</strong></span>
        <span>West Advertising</span>
        <span>2014&ndash;2017</span>
      </h3>
      <ul>
        <li>
          Built and tested weekly cross-platform HTML emails for multiple
          clients.
        </li>
        <li>
          Designed print, display, and outdoor advertisements, promotional
          posters, and greeting cards.
        </li>
        <li>
          Updated website content and graphics, including landing pages, blogs,
          videos, offers, and specials.
        </li>
      </ul>

      <h3>
        <span><strong>Art Director</strong></span>
        <span>Nimblefish Technologies</span>
        <span>2013&ndash;2014</span>
      </h3>
      <ul>
        <li>
          Creative strategy, website and email design, branding, and video
          editing on automated marketing campaigns for clients including Disney
          Vacation Club and Florida Blue.
        </li>
        <li>
          Jump-started adoption of mobile and responsive web development at
          Nimblefish.
        </li>
      </ul>
    </section>

    <section class="education">
      <h2>Education</h2>
      <h3>
        <span><strong>Bachelor of Arts, Fine Art</strong></span>
        <span>The Evergreen State College</span>
        <span>2004</span>
      </h3>
    </section>
  </div>
</BaseLayout>
