---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About Me - Tyler Combs">
  <style lang="scss">
    /* Light Color Scheme (Default + Override) */
    :root,
    :root[data-color-scheme='light'] {
      --site-header__background-color: var(--yellow);
      --button--primary__background-color: var(--red);
      --button--primary__color: var(--white);
      --heading__color: var(--yellow);
      --body__background-color: var(--white);
      --menu-toggle__background-color: var(--yellow);
      --menu-toggle--show__background-color: var(--black);
      --nav-link__color: var(--white);
      --color-scheme-toggle__border-color: transparent;
      --color-scheme-toggle__active__background-color: var(--black);
      --input__border-color: var(--yellow);
      --input__color: var(--black);
      --link--focus__outline-color: var(--red);

      @media (min-width: 1000px) {
        --nav-link__color: var(--black);
        --color-scheme-toggle__border-color: var(--black);
        --color-scheme-toggle__active__background-color: var(--yellow);
      }
    }

    /* Dark Color Scheme (System Preference) */
    @media (prefers-color-scheme: dark) {
      :root {
        --button--primary__background-color: var(--white);
        --heading__color: var(--white);
        --body__background-color: var(--yellow);
        --site-header__background-color: var(--white);
        --menu-toggle__background-color: var(--black);
        --menu-toggle--show__background-color: var(--yellow);
        --nav-link__color: var(--yellow);
        --color-scheme-toggle__border-color: var(--black);
        --color-scheme-toggle__active__background-color: var(--yellow);
        --input__color: var(--black);

        @media (min-width: 1000px) {
          --nav-link__color: var(--white);
          --color-scheme-toggle__border-color: transparent;
          --color-scheme-toggle__active__background-color: var(--black);
        }
      }
    }

    /* Dark Color Scheme (Override) */
    :root[data-color-scheme='dark'] {
      --button--primary__background-color: var(--black);
      --heading__color: var(--white);
      --body__background-color: var(--yellow);
      --site-header__background-color: var(--white);
      --menu-toggle__background-color: var(--black);
      --menu-toggle--show__background-color: var(--yellow);
      --nav-link__color: var(--yellow);
      --color-scheme-toggle__border-color: var(--black);
      --color-scheme-toggle__active__background-color: var(--yellow);
      --input__color: var(--black);

      @media (min-width: 1000px) {
        --nav-link__color: var(--white);
        --color-scheme-toggle__border-color: transparent;
        --color-scheme-toggle__active__background-color: var(--black);
      }
    }

    .content {
      position: relative;
    }

    .intro {
      @media (min-width: 1000px) {
        grid-column: 1 / 2;
      }
    }

    p {
      margin-bottom: 1.875rem;

      @media (min-width: 390px) {
        margin-bottom: 2.5rem;
      }
    }

    .button--primary {
      &::before {
        background-color: var(--button--primary__background-color);
      }
    }

    form {
      opacity: 1;
      transition: opacity 400ms;

      &.hide {
        opacity: 0;
        transition: opacity 400ms;
      }

      label {
        color: var(--black);
        display: block;
        font-size: 1.25rem;
        font-weight: 800;
        margin-bottom: 0.75rem;
        text-transform: uppercase;
        font-variation-settings: var(--width-normal);

        @media (min-width: 414px) {
          font-variation-settings: var(--width-expanded);
        }
      }

      .input-wrap {
        margin-bottom: 1.5rem;
      }

      input,
      textarea {
        appearance: none;
        background-color: var(--white);
        border: 3px solid var(--input__border-color);
        border-radius: 1.875rem;
        color: var(--input__color);
        display: block;
        font-size: 1.25rem;
        width: 100%;
        padding: 0.75rem 1rem;
        resize: none;

        &:focus {
          outline: solid 0.25rem var(--link--focus__outline-color);
          outline-offset: 0.5rem;
        }
      }

      button[type='submit'] {
        cursor: pointer;
      }
    }

    #thanks {
      position: absolute;
      font-size: 1.5rem;
      font-variation-settings: var(--width-expanded);
      font-weight: 800;
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      transition: opacity 400ms;

      &.show {
        opacity: 1;
        transition: opacity 400ms;
      }
    }
  </style>

  <div class="intro">
    <h1>Get in Touch</h1>
    <p>
      Interested in working with me? Just want to say hello? Send me a message!
    </p>
  </div>
  <div class="content">
    <form id="contactForm" name="contact" method="POST" data-netlify="true">
      <label for="name">Name</label>
      <div class="input-wrap">
        <input type="text" name="name" id="name" required />
      </div>
      <label for="email">Email</label>
      <div class="input-wrap">
        <input type="email" name="email" id="email" required />
      </div>
      <label for="message">Message</label>
      <div class="input-wrap">
        <textarea name="message" id="message" cols={30} rows={10} required
        ></textarea>
      </div>
      <button type="submit" class="button button--primary">Send</button>
    </form>
    <div id="thanks">Thank You!</div>
  </div>
</BaseLayout>

<script>
  const contactForm = document.getElementById('contactForm');
  const thanks = document.getElementById('thanks');
  contactForm.addEventListener('submit', (event) => {
    event.preventDefault();
    const formData = new FormData(contactForm);
    fetch('/', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams(formData as any).toString(),
    })
      .then(() => {
        contactForm.classList.add('hide');
        thanks?.classList.add('show');
      })
      .catch((error) => console.log(error));
  });
</script>
