---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';

const description =
  'I’m a full-stack developer with over ten years of experience in marketing, advertising, engineering, and design. With a broad set of skills, I craft effective, performant, accessible, and delightful user experiences.';
---

<Layout title="Tyler Combs - Creative Web Developer" description={description}>
  <div class="intro">
    <h1>Creative Web Developer.</h1>
    <p>
      {description}
    </p>
    <div class="links">
      <Button href="/about" class="button--secondary">About Me</Button>
      <Button href="/contact" class="button--primary">Get in Touch</Button>
    </div>
  </div>
</Layout>

<style lang="scss">
  @use '../styles/_variables.scss' as *;

  :root {
    --color-accent-50: var(--red-50);
    --color-accent-100: var(--red-100);
    --color-accent-200: var(--red-200);
    --color-accent-300: var(--red-300);
    --color-accent-400: var(--red-400);
    --color-accent-500: var(--red-500);
    --color-accent-600: var(--red-600);
    --color-accent-700: var(--red-700);
    --color-accent-800: var(--red-800);
    --color-accent-900: var(--red-900);
  }
</style>
