---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';

const description =
  'I’m a creative web developer with over ten years of experience in marketing, advertising, and product engineering. With a passion for design, performance, accessibility and usability, I draw from a broad range of technical, creative, and strategic skills to craft effective, user-focused solutions.';
---

<Layout title="Tyler Combs - Creative Web Developer" description={description}>
  <div class="intro">
    <h1>Creative Web Developer.</h1>
    <p>
      {description}
    </p>
    <div class="links">
      <Button href="/about" class="button--secondary">About Me</Button>
      <Button href="/contact" class="button--primary">Get in Touch</Button>
    </div>
  </div>
</Layout>

<style lang="scss">
  @use '../styles/_variables.scss' as *;

  :root {
    --color-accent-0: var(--red-50);
    --color-accent-200: var(--red-200);
    --color-accent-400: var(--red-400);
    --color-accent-500: var(--red-500);
    --color-accent-600: var(--red-600);
    --color-accent-700: var(--red-700);
    --color-accent-800: var(--red-800);
    --color-accent-1000: var(--red-950);

    --color-neutral-0: var(--sky-gray-0);
    --color-neutral-100: var(--sky-gray-100);
    --color-neutral-200: var(--sky-gray-200);
    --color-neutral-300: var(--sky-gray-300);
    --color-neutral-700: var(--sky-gray-700);
    --color-neutral-800: var(--sky-gray-800);
    --color-neutral-900: var(--sky-gray-900);
    --color-neutral-1000: var(--sky-gray-1000);
  }
</style>
