---
import Button from '../components/Button.astro';
import MenuToggle from './MenuToggle.astro';
import ThemeSwitch from './ThemeSwitch.astro';
import Icon from './Icon.astro';

const url = Astro.url.pathname;
---

<header class="site-header" id="siteHeader">
  <Button href="#main" class="button--primary skip-link">Skip to Content</Button
  >
  <nav id="nav" class="site-header__nav">
    <div class="site-header__inner">
      <a class="site-header__title" href="/" data-content="Tyler Combs"
        >Tyler Combs</a
      >
      <MenuToggle />
    </div>
    <div id="menu" class="site-header__menu">
      <ul>
        <li>
          <a href="/" aria-current={url.toString() === '/' ? 'page' : undefined}
            >Home</a
          >
        </li>
        <li>
          <a
            href="/about/"
            aria-current={url.toString() === '/about/' ? 'page' : undefined}
            >About</a
          >
        </li>
        <li>
          <a
            href="/contact/"
            aria-current={url.toString() === '/contact/' ? 'page' : undefined}
            >Contact</a
          >
        </li>
        <li>
          <a class="icon" href="https://github.com/tylercombs">
            <span class="visually-hidden">GitHub</span>
            <Icon name="github" size="1.5em" />
          </a>
        </li>
        <li>
          <a class="icon" href="https://www.linkedin.com/in/tylercombs/">
            <span class="visually-hidden">LinkedIn</span>
            <Icon name="linkedin" size="1.5em" />
          </a>
        </li>
        <li>
          <ThemeSwitch />
        </li>
      </ul>
    </div>
  </nav>
</header>

<style lang="scss">
  @use '../styles/_mixins.scss' as *;
  @use '../styles/_variables.scss' as *;

  .site-header {
    max-width: 1920px;
    padding: var(--space-md) var(--grid-gutter) 0 var(--grid-gutter);
    position: relative;
    transition: background-color 0.1s step-end;
    transition-delay: 0.1s;
    width: 100%;
    z-index: 0;

    @media screen and (max-width: calc($mobile-breakpoint - 1px)) {
      padding: var(--space-md) var(--grid-gutter);
    }

    &.open {
      @media screen and (max-width: calc($mobile-breakpoint - 1px)) {
        background-color: var(--color-header-background);
        transition: background-color 0s 0s step-end;
      }
    }
  }

  .site-header__inner {
    align-items: center;
    display: flex;
    gap: var(--space-md);
    justify-content: space-between;
    width: 100%;
  }

  .site-header__title {
    color: var(--color-site-title);
    font-size: var(--font-size-2xl);
    font-variation-settings: var(--width-expanded);
    font-weight: 800;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.1s ease-in;
    transition-delay: 0.1s;

    @at-root .site-header.open .site-header__title {
      color: var(--color-site-title-open);
      transition: color 0s step-end;
    }

    &:focus-visible {
      outline: 3px solid var(--color-focus-outline);
      outline-offset: 0.5rem;
      border-radius: 999rem;
    }
  }

  .site-header__nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-md-lg);
    justify-content: space-between;

    @media screen and (min-width: $mobile-breakpoint) {
      flex-direction: row;
    }
  }

  .site-header__menu {
    @media (max-width: calc($mobile-breakpoint - 1px)) {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 0.2s ease-in;

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }

      @at-root .site-header.open .site-header__menu {
        grid-template-rows: 1fr;
        transition: grid-template-rows 0.4s ease-out;

        @media (prefers-reduced-motion: reduce) {
          transition: none;
        }
      }
    }

    ul {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: var(--space-md-lg);
      list-style-type: none;
      margin: 0;
      padding: 0;

      @media (max-width: calc($mobile-breakpoint - 1px)) {
        flex-direction: column;
        overflow: hidden;
      }

      @at-root .site-header.open ul {
        overflow: visible;
      }

      li a {
        --background-color: transparent;
        --height: 2.75rem;

        align-items: center;
        color: var(--color-nav-link-text);
        display: flex;
        font-size: var(--font-size-md);
        line-height: 1.25;
        font-weight: 700;
        gap: 0.5rem;
        height: 2.75rem;
        padding-inline: var(--space-md);
        text-decoration: none;
        position: relative;
        transform: translate(0, 0);

        &:focus-visible {
          outline: 3px solid var(--color-focus-outline);
          outline-offset: 0.5rem;
          border-radius: 999rem;
        }

        &::before {
          background-color: var(--background-color);
          border-radius: calc(var(--height) / 2);
          content: '';
          position: absolute;
          inset: 0;
          z-index: -1;
        }

        &:not([aria-current='page']) {
          &::before {
            --background-color: var(--color-nav-link-background-hover);

            opacity: 0;
            transform: scale(0.5);
            transition:
              transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1),
              opacity 0.1s ease-in;

            @media (prefers-reduced-motion: reduce) {
              transition: none;
            }
          }

          &:hover::before {
            opacity: 1;
            transform: scale(1);
            transition:
              transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
              opacity 0.3s ease-out;

            @media (prefers-reduced-motion: reduce) {
              transition: none;
            }
          }
        }

        &[aria-current='page'] {
          &::before {
            --background-color: var(--color-nav-link-background-active);
          }

          &:hover::before {
            animation: scale-up 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
          }
        }

        &.icon {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          width: var(--height);
        }
      }
    }
  }

  .skip-link {
    position: absolute;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;

    &:not(:focus) {
      @include visually-hidden;
    }
  }
</style>

<script>
  // Menu Toggle.
  import { menuOpen } from '../store.js';

  const getFocusableElements = (parent: HTMLElement | null) => {
    if (!parent) {
      console.warn('You need to pass a parent HTMLElement');
      return []; // Return array so length queries will work
    }

    return parent.querySelectorAll(
      'button:not([disabled]), [href], input:not([disabled]), select:not([disabled]), textarea:not([disabled]), [tabindex]:not([tabindex="-1"]):not([disabled]), details:not([disabled]), summary:not(:disabled)'
    );
  };

  const header = document.getElementById('siteHeader');
  const menu = document.getElementById('menu');
  const focusableElements = getFocusableElements(menu);

  menuOpen.subscribe((open) => {
    if (open) {
      header?.classList.add('open');
      focusableElements.forEach((element) =>
        element.removeAttribute('tabindex')
      );
    } else {
      header?.classList.remove('open');
      focusableElements.forEach((element) =>
        element.setAttribute('tabindex', '-1')
      );
    }
  });
</script>
