---
import Icon from './Icon.astro';
---

<div class="themeSwitch__container">
  <fieldset id="themeSwitch" role="radiogroup">
    <legend class="visually-hidden">Theme Switch</legend>
    <label>
      <input type="radio" id="system" name="theme" value="system" checked />
      <span class="visually-hidden">System Mode</span>
      <Icon name="system" class="icon" size="1.4em" />
    </label>
    <label>
      <input type="radio" id="light" name="theme" value="light" />
      <span class="visually-hidden">Light Mode</span>
      <Icon name="light" class="icon" size="1.4em" />
    </label>
    <label>
      <input type="radio" id="dark" name="theme" value="dark" />
      <span class="visually-hidden">Dark Mode</span>
      <Icon name="dark" class="icon" size="1.4em" />
    </label>
  </fieldset>
</div>

<style lang="scss">
  @use '../styles/_mixins.scss' as *;
  @use '../styles/_variables.scss' as *;

  .themeSwitch__container {
    --border-radius: 999rem;

    padding: 4px;
    position: relative;

    &::before {
      background-color: var(--color-theme-switch-background);
      border-radius: var(--border-radius);
      content: '';
      position: absolute;
      inset: 0;
      transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }

    &:hover::before {
      transform: scale(1.05);
      transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }
  }

  #themeSwitch {
    border: 0;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;

    &::before {
      content: '';
      background-color: var(--color-theme-switch-background-active);
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      transform: translateX(0) scale(1);
      transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
      width: calc(100% / 3);

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }

    &:has(#system:checked)::before {
      transform: translateX(0);
    }

    &:has(#light:checked)::before {
      transform: translateX(100%);
    }

    &:has(#dark:checked)::before {
      transform: translateX(200%);
    }

    &:has(label:hover #system:checked)::before {
      transform: translateX(0) scale(1.05);
    }

    &:has(label:hover #light:checked)::before {
      transform: translateX(100%) scale(1.05);
    }

    &:has(label:hover #dark:checked)::before {
      transform: translateX(200%) scale(1.05);
    }

    input {
      @include visually-hidden;
    }

    input:checked ~ .icon {
      transition: color 0.3s ease-in-out;
    }

    label {
      align-items: center;
      color: var(--color-theme-switch-icon);
      cursor: pointer;
      display: flex;
      justify-content: center;
      width: 2.25rem;
      height: 2.25rem;
      z-index: 10;
      transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }

      &:hover {
        transform: scale(1.1);
        transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);

        @media (prefers-reduced-motion: reduce) {
          transition: none;
        }
      }

      &:has(input:focus-visible) {
        outline: 3px solid var(--color-focus-outline);
        outline-offset: 0.5rem;
        border-radius: 999rem;
      }

      &:has(input:checked) {
        color: var(--color-theme-switch-icon-active);
      }
    }
  }
</style>

<script>
  // Theme Switch.
  const setTheme = (theme: string) => {
    if (theme) {
      // Update data-theme attr on html.
      document.documentElement.setAttribute('data-theme', theme);
      // Persist in local storage.
      window.localStorage.setItem('theme', theme);
      // Set radio state.
      const radio = document.getElementById(theme) as HTMLInputElement;
      if (radio) {
        radio.checked = true;
      }
    }
  };

  // Set switch state based on html data attr.
  const theme = document.documentElement.dataset.theme;
  const radio = document.getElementById(
    theme ? theme : 'system'
  ) as HTMLInputElement;
  if (radio) {
    radio.checked = true;
  }

  // Add event listeners for theme switches.
  document.querySelectorAll('#themeSwitch input').forEach((element) =>
    element.addEventListener('change', (event) => {
      event.preventDefault();
      // Set theme on change.
      setTheme((event.target as HTMLInputElement).value);
    })
  );
</script>
