---
// import { ViewTransitions } from 'astro:transitions';
import '../styles/global.scss';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, description } = Astro.props;
const url = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en" class="no-js">
  <head>
    <!-- meta charset/http-equiv/viewport -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- title -->
    <title>{title}</title>

    <!-- preconnect -->

    <!-- Async JS -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J9CKP7R2Q0"
    ></script>

    <!-- CSS that includes @import -->

    <!-- JS -->
    <script is:inline>
      document.documentElement.classList.remove('no-js');
    </script>
    <script is:inline>
      // Check if there's a stored theme setting. If so, let the markup know by setting an attribute on the <html> element.
      const setDocumentTheme = (document) => {
        const theme = window.localStorage.getItem('theme');
        document.documentElement.dataset.theme = theme ? theme : 'system';
      };

      setDocumentTheme(document);

      document.addEventListener('astro:before-swap', (event) => {
        // Pass the incoming document to set the theme on it.
        setDocumentTheme(event.newDocument);
      });
    </script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-J9CKP7R2Q0');
    </script>

    <!-- CSS -->

    <!-- preload -->

    <!-- Defer JS -->

    <!-- prefetch / prerender -->

    <!-- Everything else ('SEO' meta tags, icons, Open Graph, etc.) -->
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:image" content="" />

    <link rel="icon" href="/favicon.ico" sizes="any" /><!-- 32×32 -->
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" /><!-- 180×180 -->
    <link rel="manifest" href="/manifest.webmanifest" />

    <!-- Astro View Transitions -->
    <!-- <ViewTransitions /> -->
  </head>
  <body>
    <div class="grid-container">
      <div class="grid">
        <Header />
        <main id="main">
          <slot />
        </main>
        <Footer />
      </div>
    </div>
  </body>
</html>
